<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("ClientName")}} :</h6>
                        {{ item.client.clientName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ClientTin")}} :</h6>
                        {{ item.client.clientTin }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ClientAddress")}} :</h6>
                        {{ item.client.clientAddress }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ClientPhone")}} :</h6>
                        {{ item.client.clientPhone }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("ContactPerson")}}) {{l("FullName")}} :</h6>
                        {{item.contactPersonFullName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
