<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #clientUnitPriceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="clientUnitPrice.id">{{l("EditClientUnitPrice")}}</span>
                        <span *ngIf="!clientUnitPrice.id">{{l("CreateNewClientUnitPrice")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="ClientClientName">{{l("Client")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ClientClientName" name="clientClientName" [(ngModel)]="clientClientName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectClientModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setClientIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="clientUnitPrice.clientId" [(ngModel)]="clientUnitPrice.clientId" type="text" required hidden>
		 
					<div class="form-group m-form__group">
                        <label for="ProductSubCategoryPipeDiameter">{{l("ProductSubCategory")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ProductSubCategoryPipeDiameter" name="productSubCategoryPipeDiameter" [(ngModel)]="productSubCategoryPipeDiameter" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectProductSubCategoryModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setProductSubCategoryIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="clientUnitPrice.productSubCategoryId" [(ngModel)]="clientUnitPrice.productSubCategoryId" type="text" required hidden>
		 

								<div class="form-group">
									<label for="ClientUnitPrice_Description">{{l("Description")}} *</label>
									<input type="text" id="ClientUnitPrice_Description" class="form-control" [(ngModel)]="clientUnitPrice.description" name="Description"   minlength="1"  maxlength="100"  required/>
								</div>
					
								<div class="form-group">
									<label for="ClientUnitPrice_Unit">{{l("Unit")}} *</label>
									<input type="text" id="ClientUnitPrice_Unit" class="form-control" [(ngModel)]="clientUnitPrice.unit" name="Unit"   minlength="1"  maxlength="100"  required/>
								</div>
					
								<div class="form-group">
									<label for="ClientUnitPrice_Price">{{l("Price")}} *</label>
									<input type="text" id="ClientUnitPrice_Price" class="form-control" [(ngModel)]="clientUnitPrice.price" name="Price"   minlength="1"  maxlength="100"  required/>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!clientUnitPriceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<clientUnitPriceClientLookupTableModal #clientUnitPriceClientLookupTableModal (modalSave)="getNewClientId()"></clientUnitPriceClientLookupTableModal>
		 <clientUnitPriceProductSubCategoryLookupTableModal #clientUnitPriceProductSubCategoryLookupTableModal (modalSave)="getNewProductSubCategoryId()"></clientUnitPriceProductSubCategoryLookupTableModal>
		 
</div>